main {
  width: 100%;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 56px 0 0 0;

    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
  }

  .container_main {
    width: 100%;

    padding-left: 12px;

    display: flex;
    justify-content: space-evenly;
    gap: 24px;
  }

  //table
  table {
    margin-top: 80px;
    flex: 1;

    thead {
      th {
        text-align: left;
        text-transform: uppercase;
        color: rgb(83, 83, 83);
      }
    }

    tbody {
      .td_price,
      .td_total,
      .td_X {
        padding-left: 20px;
      }
    }
  }

  .div_product {
    padding: 24px;

    display: flex;
    gap: 12px;

    div {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .product_name {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
      }

      .product_color {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        color: rgb(83, 83, 83);
      }
    }

    .img {
      width: 80px;
      height: 80px;
    }
  }

  .product_quantity {
    text-align: center;

    .button_fewer {
      height: 28px;
      width: 28px;

      font-size: 24px;

      margin-right: 12px;

      background-color: transparent;

      border: none;
      cursor: pointer;
    }

    .button_more {
      height: 28px;
      width: 28px;

      font-size: 24px;

      margin-left: 12px;

      background-color: transparent;

      border: none;
      cursor: pointer;
    }
  }

  .button_X {
    background-color: transparent;
    border-radius: 40%;

    border: none;
    cursor: pointer;
  }

  //aside
  aside {
    min-width: 500px;

    padding: 20px 20px;

    max-width: 470px;
    padding-top: 40px;

    h2 {
      margin: 0;
    }

    .info {
      width: 100%;
      margin-top: 40px;

      display: flex;
      flex-direction: column;
      gap: 12px;

      .div_subTotal,
      .div_Frete {
        display: flex;
        justify-content: space-between;

        span {
          font-style: normal;
          font-size: 16px;
        }
      }

      .button_cupom {
        display: flex;
        align-items: center;
        gap: 8px;

        padding: 0;

        color: green;
        background-color: transparent;
        border: none;

        font-style: normal;
        font-size: 16px;
        cursor: pointer;
      }
    }

    .div_total {
      width: 100%;

      margin-top: 24px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 12px 0 12px 0;

      font-size: 24px;
    }

    .button_compra {
      width: 100%;

      margin-top: 20px;
      padding: 20px;

      background-color: green;
      border: none;
      color: white;

      font-size: 20px;
      cursor: pointer;
    }
  }
}
